Repository The-Obstacle-Is-The-Way/stroke-deepisles-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, frontend-lint, frontend-typecheck, frontend-test

.pre-commit-config.yaml:

repos:
  # ============================================
  # BACKEND HOOKS (Python)
  # ============================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true
        # Exclude auto-generated Gradio custom component files
        exclude: ^packages/niivueviewer/

  # ============================================
  # FRONTEND HOOKS (TypeScript/React)
  # ============================================
  - repo: local
    hooks:
      - id: frontend-lint
        name: frontend-lint (eslint)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      - id: frontend-typecheck
        name: frontend-typecheck (tsc)
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

      - id: frontend-test
        name: frontend-test (vitest coverage)
        entry: bash -c 'cd frontend && npm run test:coverage'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]  # Run on push only (tests are slow)

  # ============================================
  # GENERAL HOOKS
  # ============================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^src/stroke_deepisles_demo/ui/assets/
      - id: end-of-file-fixer
        exclude: ^src/stroke_deepisles_demo/ui/assets/
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
        # Exclude vendored assets (NiiVue library ~2.9MB)
        exclude: ^src/stroke_deepisles_demo/ui/assets/

docs(audit): add deep dive audit report on bugs and anti-patterns
  docs/bugs/BUGS-AUDIT-DEEP-DIVE.md
  docs/bugs/BUGS-HF-SPACES-INTEGRATION.md
  docs/bugs/HF_SPACES_UI_BROKEN_AUDIT.md
Due: none

fix: address P1/P2 bugs from audit (BUG-005/006/008/010/011)
  BUGS-AUDIT-2024-12-12.md
  frontend/src/mocks/handlers.ts
  src/stroke_deepisles_demo/api/config.py
  src/stroke_deepisles_demo/api/job_store.py
  src/stroke_deepisles_demo/api/routes.py
  src/stroke_deepisles_demo/data/__init__.py
Due: mypy, frontend-lint, frontend-typecheck, frontend-test

docs: update audit status, add NEXT-CONCERNS, apply CodeRabbit feedback
  BUGS-AUDIT-2024-12-12.md
  NEXT-CONCERNS.md
  frontend/src/mocks/handlers.ts
  src/stroke_deepisles_demo/api/config.py
Due: mypy, frontend-lint, frontend-typecheck, frontend-test

fix: address P1/P2 bugs from audit (BUG-005/006/008/010/011) (#40)
  BUGS-AUDIT-2024-12-12.md
  NEXT-CONCERNS.md
  frontend/src/mocks/handlers.ts
  src/stroke_deepisles_demo/api/config.py
  src/stroke_deepisles_demo/api/job_store.py
  src/stroke_deepisles_demo/api/routes.py
  src/stroke_deepisles_demo/data/__init__.py
Due: mypy, frontend-lint, frontend-typecheck, frontend-test

docs(audit): add comprehensive bug audit report for 2024-12-12
  docs/bugs/BUGS-AUDIT-2024-12-12.md
Due: none

docs(critical): upgrade NEXT-CONCERNS with validated architecture audit
  NEXT-CONCERNS.md
Due: none

fix(arch): consolidate config and enforce reproducible builds
  Dockerfile
  NEXT-CONCERNS.md
  docs/bugs/BUGS-HF-SPACES-INTEGRATION.md
  docs/specs/frontend/36-frontend-without-gradio-hf-spaces.md
  frontend/README.md
  src/stroke_deepisles_demo/api/config.py
  src/stroke_deepisles_demo/api/files.py
  src/stroke_deepisles_demo/api/job_store.py
  src/stroke_deepisles_demo/api/main.py
  src/stroke_deepisles_demo/api/routes.py
  src/stroke_deepisles_demo/core/config.py
Due: mypy

chore(deps): migrate from CloseChoice/datasets to neuroimaging-go-brrrr
  pyproject.toml
  requirements.txt
  uv.lock
Due: none

chore: add results/ to .gitignore
  .gitignore
Due: none

docs: update NEXT-CONCERNS.md with validated dependency fixes
  NEXT-CONCERNS.md
Due: none

docs: add comprehensive documentation for data pipeline and refactor plans
  DATA-PIPELINE.md
  docs/specs/00-data-loading-refactor.md
  docs/specs/archive/frontend/36-frontend-without-gradio-hf-spaces.md
  docs/specs/archive/frontend/37-0-project-setup.md
  docs/specs/archive/frontend/37-1-foundation-components.md
  docs/specs/archive/frontend/37-2-api-layer.md
  docs/specs/archive/frontend/37-3-interactive-components.md
  docs/specs/archive/frontend/37-4-app-integration.md
  docs/specs/archive/frontend/37-5-e2e-and-ci.md
  docs/specs/archive/frontend/NIIVUE-GRADIO-POSTMORTEM.md
  docs/specs/archive/frontend/async-job-queue.md
Due: none

docs: correct specs per senior review feedback
  DATA-PIPELINE.md
  docs/specs/00-data-loading-refactor.md
Due: none

style: fix markdown linting in refactor spec
  docs/specs/00-data-loading-refactor.md
Due: none

fix(arch): Config SSOT, reproducible builds, and data pipeline documentation (#41)
  .gitignore
  DATA-PIPELINE.md
  Dockerfile
  NEXT-CONCERNS.md
  docs/bugs/BUGS-HF-SPACES-INTEGRATION.md
  docs/specs/00-data-loading-refactor.md
  docs/specs/archive/frontend/36-frontend-without-gradio-hf-spaces.md
  docs/specs/archive/frontend/37-0-project-setup.md
  docs/specs/archive/frontend/37-1-foundation-components.md
  docs/specs/archive/frontend/37-2-api-layer.md
  docs/specs/archive/frontend/37-3-interactive-components.md
  docs/specs/archive/frontend/37-4-app-integration.md
  docs/specs/archive/frontend/37-5-e2e-and-ci.md
  docs/specs/archive/frontend/NIIVUE-GRADIO-POSTMORTEM.md
  docs/specs/archive/frontend/async-job-queue.md
  frontend/README.md
  pyproject.toml
  requirements.txt
  src/stroke_deepisles_demo/api/config.py
  src/stroke_deepisles_demo/api/files.py
  src/stroke_deepisles_demo/api/job_store.py
  src/stroke_deepisles_demo/api/main.py
  src/stroke_deepisles_demo/api/routes.py
  src/stroke_deepisles_demo/core/config.py
  uv.lock
Due: mypy

refactor(data): add HuggingFaceDatasetWrapper using standard load_dataset()
  src/stroke_deepisles_demo/data/loader.py
Due: mypy

refactor(data): delete constants.py and hand-rolled HuggingFaceDataset
  src/stroke_deepisles_demo/data/adapter.py
  src/stroke_deepisles_demo/data/constants.py
Due: mypy

test(data): update tests for new data loading implementation
  tests/data/test_hf_adapter.py
  tests/data/test_loader.py
Due: mypy

fix(test): align test_default_values with config SSOT
  tests/core/test_config.py
Due: mypy

ci: add disk cleanup to test job to fix runner out-of-space errors
  .github/workflows/ci.yml
Due: none

fix(test): mock list_case_ids in segment endpoint tests
  tests/api/test_endpoints.py
Due: mypy

fix: address CodeRabbit feedback
  src/stroke_deepisles_demo/data/adapter.py
  src/stroke_deepisles_demo/data/loader.py
Due: mypy

refactor(data): use standard datasets.load_dataset() with neuroimaging-go-brrrr
  .github/workflows/ci.yml
  src/stroke_deepisles_demo/data/adapter.py
  src/stroke_deepisles_demo/data/constants.py
  src/stroke_deepisles_demo/data/loader.py
  tests/api/test_endpoints.py
  tests/core/test_config.py
  tests/data/test_hf_adapter.py
  tests/data/test_loader.py
Due: mypy

fix(security): address P1 findings from post-refactor audit
  .github/workflows/ci.yml
  docs/bugs/POST-REFACTOR-AUDIT-2024-12-13.md
  src/stroke_deepisles_demo/core/config.py
  src/stroke_deepisles_demo/data/loader.py
  src/stroke_deepisles_demo/ui/app.py
Due: mypy

docs: add NEXT-CONCERNS.md detailing critical architecture debt
  docs/bugs/NEXT-CONCERNS.md
Due: none

fix(arch): comprehensive architecture audit fixes
  Dockerfile
  Makefile
  README.md
  app.py
  docs/bugs/ARCHITECTURE-AUDIT-2024-12-13.md
  frontend/src/components/CaseSelector.tsx
  frontend/src/hooks/useSegmentation.ts
  frontend/src/utils/retry.ts
  pyproject.toml
  requirements.txt
  src/stroke_deepisles_demo/api/files.py
  src/stroke_deepisles_demo/api/job_store.py
  src/stroke_deepisles_demo/api/routes.py
  src/stroke_deepisles_demo/data/loader.py
  src/stroke_deepisles_demo/inference/__init__.py
  src/stroke_deepisles_demo/inference/deepisles.py
  src/stroke_deepisles_demo/pipeline.py
Due: mypy, frontend-lint, frontend-typecheck, frontend-test

refactor(deepisles): use named constants instead of positional unpacking
  src/stroke_deepisles_demo/inference/deepisles.py
Due: mypy

fix(arch): comprehensive architecture audit fixes (#44)
  Dockerfile
  Makefile
  README.md
  app.py
  docs/bugs/ARCHITECTURE-AUDIT-2024-12-13.md
  docs/bugs/NEXT-CONCERNS.md
  frontend/src/components/CaseSelector.tsx
  frontend/src/hooks/useSegmentation.ts
  frontend/src/utils/retry.ts
  pyproject.toml
  requirements.txt
  src/stroke_deepisles_demo/api/files.py
  src/stroke_deepisles_demo/api/job_store.py
  src/stroke_deepisles_demo/api/routes.py
  src/stroke_deepisles_demo/data/loader.py
  src/stroke_deepisles_demo/inference/__init__.py
  src/stroke_deepisles_demo/inference/deepisles.py
  src/stroke_deepisles_demo/pipeline.py
Due: mypy, frontend-lint, frontend-typecheck, frontend-test

docs(audit): add remaining issues analysis for 2024-12-13
  docs/bugs/REMAINING-ISSUES-2024-12-13.md
Due: none

fix(audit): address remaining P1-P2 issues and remove config slop
  Dockerfile
  NEXT-CONCERNS.md
  docs/guides/configuration.md
  src/stroke_deepisles_demo/__init__.py
  src/stroke_deepisles_demo/api/main.py
  src/stroke_deepisles_demo/api/routes.py
  src/stroke_deepisles_demo/core/config.py
  src/stroke_deepisles_demo/inference/deepisles.py
  src/stroke_deepisles_demo/inference/direct.py
Due: mypy

fix(audit): P2 prediction path mismatch and P3 .env.example cleanup
  .env.example
  POST-AUDIT-FINDINGS-2025-12-13.md
  src/stroke_deepisles_demo/inference/deepisles.py
Due: mypy

fix(audit): address P3/P4 findings from round 2 review
  NEXT-CONCERNS.md
  POST-AUDIT-FINDINGS-2025-12-13.md
  docs/bugs/AUDIT-FINDINGS-2025-12-13.md
  docs/bugs/NEXT-CONCERNS.md
  docs/guides/deployment.md
  docs/guides/quickstart.md
  frontend/src/test/fixtures.ts
  src/stroke_deepisles_demo/api/main.py
  src/stroke_deepisles_demo/cli.py
  src/stroke_deepisles_demo/data/__init__.py
  src/stroke_deepisles_demo/inference/direct.py
Due: mypy, frontend-lint, frontend-typecheck, frontend-test

docs(audit): fix P3/P4 doc drift from round 3 review
  README.md
  docs/TECHNICAL_DEBT.md
  docs/guides/deployment.md
  docs/guides/quickstart.md
  frontend/src/components/__tests__/NiiVueViewer.test.tsx
  src/stroke_deepisles_demo/inference/direct.py
Due: mypy, frontend-lint, frontend-typecheck, frontend-test

fix(coderabbit): address valid review feedback
  docs/bugs/NEXT-CONCERNS.md
  src/stroke_deepisles_demo/inference/deepisles.py
Due: mypy

fix(audit): comprehensive P1-P4 audit fixes (#45)
  .env.example
  Dockerfile
  README.md
  docs/TECHNICAL_DEBT.md
  docs/bugs/AUDIT-FINDINGS-2025-12-13.md
  docs/bugs/NEXT-CONCERNS.md
  docs/bugs/REMAINING-ISSUES-2024-12-13.md
  docs/guides/configuration.md
  docs/guides/deployment.md
  docs/guides/quickstart.md
  frontend/src/components/__tests__/NiiVueViewer.test.tsx
  frontend/src/test/fixtures.ts
  src/stroke_deepisles_demo/__init__.py
  src/stroke_deepisles_demo/api/main.py
  src/stroke_deepisles_demo/api/routes.py
  src/stroke_deepisles_demo/cli.py
  src/stroke_deepisles_demo/core/config.py
  src/stroke_deepisles_demo/data/__init__.py
  src/stroke_deepisles_demo/inference/deepisles.py
  src/stroke_deepisles_demo/inference/direct.py
Due: mypy, frontend-lint, frontend-typecheck, frontend-test

docs(deploy): add explicit frontend HF Space deployment steps
  docs/guides/deployment.md
Due: none

docs(bug): add BUG-014 api/cases 500 error investigation
  docs/bugs/BUG-014-api-cases-500-error.md
Due: none

docs(bug): update BUG-014 with confirmed root cause analysis
  docs/bugs/BUG-014-api-cases-500-error.md
Due: none

docs(bug): BUG-014 final fix - metadata-based case list, streaming for single case
  docs/bugs/BUG-014-api-cases-500-error.md
Due: none

fix(hf): avoid eager 27GB dataset download on /api/cases
  docs/bugs/BUG-014-api-cases-500-error.md
  docs/specs/00-data-loading-refactor.md
  src/stroke_deepisles_demo/data/isles24_manifest.py
  src/stroke_deepisles_demo/data/loader.py
  tests/data/test_isles24_dataset.py
  tests/data/test_loader.py
Due: mypy
